{% load staticfiles %}
<html>
	<head>
		<title>{% block title %} Link-in Arc | Aavishkar '18 {%endblock%}</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
    <link href="https://fonts.googleapis.com/css?family=Coiny|Acme|Concert+One|Fredoka+One|Viga" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
		<link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}"  rel="stylesheet">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35296880-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-35296880-5');
    </script>

	
  </head>
	
	<body>

  {% include 'navbar.html'%}

  {% block body %}
	{% endblock %}

    <footer class="footer">
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="copyright" style="">
                  Developed by <a href="http://www.nitdgplug.org" target=_blank>GNU/Linux Users' Group, NIT Dugapur</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="contacts">
                <span><u>Contact (WhatsApp only)</u></span>
                <p><strong>Aman Deep:</strong> 7063698944<br><strong>Mayank:</strong> 8981078195</p>
              </div>             
            </div>
          </div>
      </div>
    </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% if request.get_full_path == "/leaderboard/"  %}  
  <script src="/static/js/leaderboard.js"></script>
  {%endif%}

  {% if request.get_full_path == "/question/"  %}  
  <script src="/static/js/filesize_check.js"></script>
  {%endif%}

  </body>

</html>
