{%extends 'base.html'%}
{%block body%}
<div class="container">
<h1>Welcome</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo aut quo debitis harum et velit omnis ipsum laboriosam id, libero recusandae illum saepe maxime sit ducimus enim minus aliquid. Nostrum!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita praesentium placeat dolorem, quod voluptas distinctio similique odit molestias minus numquam qui, ipsa alias modi laborum deserunt magnam iste nemo!
</div>
{%endblock%}
