{% extends 'base.html' %}
{% block title %} Question {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            	<div class="question">
            		<h1>Question {{q_num}}:</h1>
            		<p>{{question.question}}</p>
            	</div>
            	<!-- <button class="btn btn-primary">Upload Answer</button> -->
            	<!-- <input type="file" id="fileUpload"> -->

                    <!-- Upload form. Note enctype attribute! -->
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                        <p>
                            {{ form.docfile.errors }}
                            {{ form.docfile }}
                        </p>
                        <p><input class="btn btn-success" type="submit" value="Upload" /></p>
                    </form>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary" style="margin-top:15px;margin-bottom:15px" href="/media/input_files/{{filename}}" download><i class="fa fa-download" aria-hidden="true"></i> Download {{filename}}</a>
        </div>
    </div>
</div>

{%endblock%}

